.Container {
    width: 100%;
    overflow-x: hidden;
    height: auto;
}

.Header {
    width: 100%;

    .TopSection {
        width: 100%;
        height: 32px;

        background-color: red;
        display: flex;
        justify-content: center;
        gap: 119px;

        font-size: 12;
    }
}