@use '@assets/scss/_variables' as *;

.Container {
    width: 100%;
    height: auto;
}

.Header {
    width: 100%;

    .TopSection {
        width: 100%;
        height: 32px;

        display: flex;
        justify-content: center;
        gap: 119px;

        .TopSeciontText {
            display: flex;
            align-items: center;
            gap: 9px;

            font-size: 12px;

            .InfoText {
                color: $gray_1;

                .InfoHighlight{
                    color: $blue_1;
                    font-weight: 600;
                }
            }
        }
    }

    .MiddleSection {
        width: 100%;
        height: 72px;
        padding: 0 80px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .SearchContainer {
            
            position: relative;

            input {
                width: 630px;
                height: 48px;
                border-radius: 10px;

                padding: 0 16px;

                background: #F6F5F2 !important;
                border: 0;

                outline: none;
                font-size: 14px;

                &::placeholder {
                    font-size: 14px;
                    color: $gray_1;
                }
            }

            img {
                position: absolute;
                right: 24px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .ActionButtons {
            list-style: none;
            display: flex;
            gap: 32px;
        }
    }

    .BottomSection {
        width: 100%;
        height: 40px;

        display: flex;
        justify-content: center;

        .CategoriesContainer {
            width: 1141px;
            height: 20px;

            .Categories {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 91px;

                list-style: none;

                .Category {
                    height: 40px;
                    white-space: nowrap;
                    width: fit-content;

                    display: flex;
                    align-items: center;

                    gap: 12px;

                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;

                    color: $gray_1;

                    &.Selected {
                        color: $blue_1;
                    }

                    &:hover {
                        cursor: pointer;
                        // color: adjust-color($color: #000000, $lightness: 20%);
                    }
                }
            }
        }

    }

    img:hover {
        cursor: pointer;
    }
}

.Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Banner {
        position: relative;
        width: 1440px;
        height: 390px;
        background-image: url('@assets/images/main/banner.png');

        &::before {
            position: absolute;
            content: '';
            width: 390px;
            height: 100%;
            background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%);
        }

        .Title {
            position: relative;
            margin-top: 78px;
            margin-left: 81px;
            z-index: 1;

            font-size: 48px;
            font-weight: 600;
            line-height: 50px;
            color: #fff;

            width: 822px;
            height: 128px;
        }

        .SubTitle {
            position: relative;
            height: 48px;
            margin-left: 81px;

            font-size: 32px;
            font-weight: 400;
            color: #fff;

            .Highlight {
                color: #F7CA11;
                font-weight: 700;
            }

        }

        .Button {
            position: relative;
            margin-left: 81px;
            margin-top: 41px;

            width: 206px;
            height: 50px;

            padding: 7px 49px;

            border-radius: 5px;
            border: 0;

            background: #F7CA11;

            font-size: 16px;
            font-weight: 600;
        }
    }

    .Categories {
        display: flex;
        gap: 42px;
        width: 1160px;
        margin-top: 39px;
    }

    .Showcase {
        margin-top: 90px;
    }

    .BrandsSection {
        margin-top: 90px;
        width: 1250px;
        height: 288px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .Title {
            color: $blue_2;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
        }

        .Brands {
            display: flex;
            align-items: center;
            justify-self: center;
            gap: 42px;

            .Brand {
                display: flex;
                width: 211px;
                height: 211px;
                padding: 87px 47px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                
                border-radius: 105.5px;
                background: #fff;

                box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.13);
            }
        }
    }
}

.Newsletter {
    width: 1440px;
    height: 162px;

    margin-top: 90px;

    background: #271C47;

    display: flex;
    justify-content: space-between;
    padding: 40px 82px 40px 80px;

    .NewsletterText {
        width: 515px;
        height: 82px;

        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .Title {
            color: #fff;
            font-size: 32px;
            font-weight: 600;
            line-height: 38.4px;
        }

        .Subtitle {
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
        }
    }

    .FormInputs {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        width: 639px;
        height: 42px;

        .Input {
            width: 233px;
            height: 42px;
            padding: 12px 24px;
            border-radius: 8px;

            &::placeholder {
                font-size: 14px;
                font-weight: 400;
                color: #676767;
            }
        }

        .Button {
            width: 157px;
            height: 42px;

            background: #F7CA11;
            border-radius: 8px;
            border: 0;
            outline: none;

            color: 161615;
            font-size: 14px;
            font-weight: 600;
            line-height: 12px;
        }
    }

    .FormTerms {
        margin-top: 8px;
        width: 226px;
        height: 21px;

        color: #fff;
        font-size: 14px;
        font-weight: 400;

        display: flex;
        gap: 4px;
    }
}